<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">
    <style>
        #NotDelivery tbody .ar:hover {background:#ebf7ff !important}
        #NotDelivery tfoot .ar:hover {background:#ebf7ff !important}
    </style>
    <style>
        .lnbW { left:-200px; }
        .container .contents { margin-left:0; }
    </style>

    메인
</th:block>