<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content">
    <script type="text/javascript" th:src="@{/js/product/brand.js(ver=${@commonUtil.getNow()})}"></script>

    <div class="tb_layout_1">
        <form name="form" method="post" enctype="multipart/form-data" action="/product/brand/modify">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="page" th:value="${searchDto.getPage()}"/>
            <input type="hidden" name="useflag" th:value="${searchDto.getUseflag()}"/>
            <input type="hidden" name="searchtype" th:value="${searchDto.getSearchtype()}"/>
            <input type="hidden" name="keyword" th:value="${searchDto.getKeyword()}"/>
            <input type="hidden" name="brandCode" th:value="${brand.getBrandcode()}"/>

            <table>
                <colgroup>
                    <col style="width: 180px;" />
                    <col style="width: auto;" />
                </colgroup>
                <tbody>
                <tr>
                    <td class="title"><span class="required">브랜드코드</span></td>
                    <td th:text="${brand.getBrandcode()}"></td>
                </tr>
                <tr>
                    <td class="title"><span class="required">브랜드명</span></td>
                    <td><input type="text" name="brandName" id="BrandName" maxlength="25" th:value="${brand.getBrandname()}" class="input_text" style="width: 300px;" /></td>
                </tr>
                <tr>
                    <td class="title"><span>브랜드 로고</span></td>
                    <td><input type="file" name="logoImg" id="LogoImg" class="input_text" style="width: 80%;" accept=".jpg,.png,.gif,.jpeg" /> 189 x 50px</td>
                </tr>
                <tr>
                    <td class="title"><span>브랜드 비주얼</span></td>
                    <td><input type="file" name="visualImg" id="VisualImg" class="input_text" style="width: 80%;" accept=".jpg,.png,.gif,.jpeg" /> 0000 x 000px</td>
                </tr>
                <tr>
                    <td class="title"><span>모바일 브랜드로고</span></td>
                    <td><input type="file" name="mlogoImg" id="MLogoImg" class="input_text" style="width: 80%;" accept=".jpg,.png,.gif,.jpeg" /> 189 x 50px</td>
                </tr>
                <tr>
                    <td class="title"><span>모바일 브랜드 비주얼</span></td>
                    <td><input type="file" name="mvisualImg" id="MVisualImg" class="input_text" style="width: 80%;" accept=".jpg,.png,.gif,.jpeg" /> 000 x 000px</td>
                </tr>
                <tr>
                    <td class="title"><span>브랜드 소개글</span></td>
                    <td><input type="text" name="brandStory" id="BrandStory"  th:value="${brand.getBrandstory()}" class="input_text" style="width: 80%;" accept=".jpg,.png,.gif,.jpeg" /></td>
                </tr>
                <tr>
                    <td class="title"><span>사용여부</span></td>
                    <td>
                        <select name="useFlag" id="UseFlag">
                            <option value="Y" th:selected="${brand.getUseflag() == 'Y' ? 'true' : 'false'}">사용</option>
                            <option value="N" th:selected="${brand.getUseflag() == 'N' ? 'true' : 'false'}">사용안함</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="posR mt20">
        <div class="ac">
            <a th:if="${Permission.isWrite()}" href="javascript:mod_Brand()" class="btn-c"><span>수정</span></a>
            <a href="javascript:moveList('/product/brand/list');" class="btn-d"><span>목록</span></a>
        </div>
    </div>

    <div class="tb_data_1">
        <table>
            <tbody>
            <th:block th:if="${brand.getLogoimg() != null and brand.getLogoimg() != ''}">
                <tr>
                    <td class="title al pl20">브랜드 로고</td>
                </tr>
                <tr>
                    <td class="al"><img th:src="${brand.getLogoimg()}" /></td>
                </tr>
            </th:block>
            <th:block th:if="${brand.getVisualimg() != null and brand.getVisualimg() != ''}">
                <tr>
                    <td class="title al pl20">브랜드 비주얼</td>
                </tr>
                <tr>
                    <td class="al"><img th:src="${brand.getVisualimg()}" /></td>
                </tr>
            </th:block>
            <th:block th:if="${brand.getMlogoimg() != null and brand.getMlogoimg() != ''}">
                <tr>
                    <td class="title al pl20">모바일 브랜드 로고</td>
                </tr>
                <tr>
                    <td class="al"><img th:src="${brand.getMlogoimg()}" /></td>
                </tr>
            </th:block>
            <th:block th:if="${brand.getMlogoimg() != null and brand.getMlogoimg() != ''}">
                <tr>
                    <td class="title al pl20">모바일 브랜드 비주얼</td>
                </tr>
                <tr>
                    <td class="al"><img th:src="${brand.getMvisualimg()}" /></td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>

</div>