@charset "UTF-8";

/* lay-out */
.wrap{/*height:100%;*/position:absolute;margin:0;width:100%;min-width:1200px;}


.headerW{position:fixed;width:100%;background-color:#000;top:0;min-width:1500px;z-index:101;}
.headerW .header{width:100%;overflow:hidden;}
.headerW .header .logo{float:left;width:175px;padding:13px 0 13px 45px;}
.headerW .header .gnb{float:left;margin-top:16px;}
.headerW .header .gnb li{float:left;padding-left:35px;margin-left:35px;font-size:12px;font-weight:bold;background:url(../images/bg_bar_3.gif) no-repeat left center;}
.headerW .header .gnb li:first-child{padding-left:0px;margin-left:0px;background:none;}
.headerW .header .gnb li a{font-weight:bold;color:#fff;}
.headerW .header .gnb li a:hover,
.headerW .header .gnb li.on a{color:#fff;text-decoration:none;}
.headerW .header .topMenu{float:right;margin-top:16px;margin-right:20px;}
.headerW .header .topMenu li{float:left;padding-left:11px;margin-left:10px;background:url(../images/bg_bar_3.gif) no-repeat left center;}
.headerW .header .topMenu li:first-child{padding-left:0;background:none;}
.headerW .header .topMenu li a{font-family:ng;color:#fff;}
.headerW .header .topMenu li a:hover{color:#fff;}
.headerW .header .topMenu li span.name{display:inline-block;height:20px;line-height:20px;padding:0 15px;margin-top:-2px;background:#fff;color:#000;font-family:ng;font-size:12px;border-radius:9px;}


.container{position:relative;width:100%;height:100%;margin-top:47px;min-width:1500px;}
.container .lnbW{position:fixed;width:200px;border-right:1px solid #cccccc;box-sizing:border-box;top:47px;bottom:0;overflow-y:auto;}
.container .lnbW .lnb{margin-top:20px;margin-left:20px;text-align:left;}
.container .lnbW .lnb li{margin-bottom:10px;font-size:12px;}
.container .lnbW .lnb li a:hover{color:#000000;/*text-decoration:underline;*/}
.container .lnbW .lnb li.on a{font-weight:bold;color:#000;}
.container .lnbW .lnb li strong{font-weight:normal;}
.container .lnbW .lnb .depth2{margin-top:10px;margin-left:10px;}
.container .lnbW .lnb .depth2 li{margin-bottom:10px;color:#7f7f7f;}
.container .lnbW .lnb .depth2 li a{color:#7f7f7f;font-weight:normal;}
.container .lnbW .lnb .depth2 li.on a{font-weight:bold;}
.container .lnbW .lnb .depth3{margin-top:10px;margin-left:10px;}
.container .contents {position:relative;margin-top:47px;margin-left:200px;}
.container .contents .realCon{position:relative;margin:0 auto;padding:20px 20px;min-height:100%;background:#ffffff;}
.container .contents .realCon2{padding-top:12px; padding-bottom:12px;}
.container .footer{/*margin-top:200px;*/position:fixed;bottom:0;}

.container .wide_contents{float:left;width:100%;padding-top:30px;margin-top:47px;margin-left:30px;}
.container .wide_contents .realCon{min-height:620px;}
.container .wide_contents .realCon2{padding-top:12px; padding-bottom:12px;}


/* 탭 테이블 언더라인 없음 */
.tab_table_nl			 { position: relative; width: 100%; margin-top: 40px; }
.tab_table_nl td		 { height: 35px; padding: 0; text-align: center; vertical-align: middle; color: #333; border-top-left-radius: 5px; border-top-right-radius: 5px; font-weight: bold; }
.tab_table_nl td.on		 { background:#82accb; }
.tab_table_nl td.off	 { background:#cfdae3; }
.tab_table_nl td a		 { display:inline-block;width:100%;height:35px;line-height:35px;color: #333; text-decoration: none; }


.tb_data_1{position:relative;width:100%;margin-top:40px;border-top:2px solid #4693cb}
.tb_data_1.embed {margin-top:0;border:1px solid #d8d8d8;}
.tb_data_1 table{width:100%;}
.tb_data_1 thead th{height:25px;padding:5px 0;text-align:center;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;vertical-align:middle;color:#333;background:#f7f7f7;}
.tb_data_1 thead th.small{height:25px;padding:5px 0;text-align:center;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;vertical-align:middle;color:#333; background:#fff;}
.tb_data_1 thead th:first-child{border-left:none;}
.tb_data_1 thead th.sub:first-child{border-left:1px solid #d8d8d8;}
.tb_data_1 thead th.small:first-child{border-left:1px solid #d8d8d8;}
.tb_data_1 tfoot th{height:25px;padding:5px 0;text-align:center;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;vertical-align:middle;color:#333;background:#f7f7f7;}
.tb_data_1 tfoot th:first-child{border-left:none;}
.tb_data_1 tbody td{height:25px;/*padding:5px 0;*/padding:2px 0;text-align:center;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;vertical-align:middle;color:#333;}
.tb_data_1 tbody td span { line-height:18px; }
.tb_data_1 tbody td:first-child{border-left:none;}
.tb_data_1 tbody td.sub{padding-left:15px;text-align:left;}
.tb_data_1 tbody td.title{background:#f7f7f7; font-weight:bold;}
.tb_data_1 tbody td.title2{background:#f7f7f7;}
.tb_data_1 tbody td.title3{background:#f7f7f7; font-weight:bold; color:red;}
.tb_data_1 tbody td.title4{background:#fff; font-weight:bold;}
.tb_data_1 tbody td a{color:#333;}
.tb_data_1 tbody td.close{background-color:#C6C6C6;}
.tb_data_1 tbody .noticeLine td{font-weight:bold;}
.tb_data_1 .tip{position:absolute;left:0;top:-20px;}
.tb_data_1 .tip2{position:absolute;left:0;top:-20px; font-weight:bold;}


.secline th:first-child{border-left:1px solid #d8d8d8 !important;}
.secline td:first-child{border-left:1px solid #d8d8d8 !important;}


.tb_layout_1{border-top:2px solid #4693cb;}
.tb_layout_1 table{width:100%;}
.tb_layout_1 tr.bg {background:#909090;}
.tb_layout_1 td {height:25px;padding:4px 0 4px 20px;color:#333;text-align:left;vertical-align:middle;border-bottom:1px solid #d8d8d8;}
.tb_layout_1 td.wide{padding:13px 0 11px 20px;}
.tb_layout_1 td.title{background:#f7f7f7; font-weight:bold;}
.tb_layout_1 td.title2{background:#f7f7f7; border-left:1px solid #d8d8d8;}
.tb_layout_1 .line td{border-bottom:1px solid #666;}
.tb_layout_1 .bbsViewText td{height:200px;padding:20px 0 20px 20px;vertical-align:top;}
.tb_layout_1 .required:after {content:'*';color:#ef4036;padding-left:5px;}
.tb_layout_1 .required em{display:block;width:0px;height:0px;position:absolute;left:-9999px;top:-9999px;font-size:0px;line-height:0;text-indent:-9999px;}


.sub_table { border-top: 1px solid #d8d8d8; }
.intable > tbody > tr:last-child > td {border-bottom:none !important;}


/* paging */
.paging{text-align:center;}
.paging span{border-right:1px solid #767676;}
.paging a{margin:0 10px 0 5px;font-size:12px;color:#767676;}
.paging a.on{font-weight:bold;}
.paging{position:relative;width:100%;padding:3px 0;text-align:center;color:#888888;word-spacing:3px;}
.pgDown{padding:20px 0;}
.paging a:link, .paging a:visited{color:#888888;}
.paging a:hover, .paging a:active, .paging a:focus{color:#f00;}
.paging .pagingOn{color:#f00;font-weight:bold;}

/* POPUP */
.popup_wrap{height:100%;position:absolute;margin:0;width:100%;}
.popup_container{position:relative; width:100%;height:100%;padding:20px; box-sizing:border-box;}


/* LAYER */
.layerPop {display: none;position: absolute;left: 37%;top: 11%;width: 500px;border: 1px solid #000;background: #fff;z-index: 1000;}
.layerPop .popHeader {padding: 15px 0 15px 20px;border-bottom: 1px solid #000;}
.layerPop .popContainer {padding: 20px 20px 30px;font-size: 13px;}
.title_bul {padding-left: 20px;margin-bottom: 10px;font-size: 13px;font-weight:bold;background: url('../images/common/bul/bul_square_blue.gif') no-repeat 10px center;}
.popContainer .findStoreWrap {padding: 10px;margin-bottom: 20px;background: #f7f7f7;}
.popContainer .findStoreWrap .schStore table {width: 100%;}
.popContainer .findStoreWrap .schStore td {padding-bottom: 5px; letter-spacing:-1px;}
.popContainer .findStoreWrap .schResult {overflow-y: auto;height: 94px;padding: 5px 0;border: 1px solid #d8d8d8;background: #fff;}
.popContainer .findStoreWrap .schResult li {padding: 2px 0;}
.popContainer .storeInfo {padding: 10px;background: #f7f7f7;}
.layerPop .btns {margin-top: 20px;text-align: center;}
.layerPop .btns a:first-child {margin-left: 0;}
.layerPop .btns a {margin-left: 10px;}
.layerPop .btnClosePop {position: absolute;right: 20px;top: 13px;}


/* MY MENU - 즐겨찾기 */
.my-menu-btn { display:inline-block;position:absolute;top:0;right:0; }
.my-menu-wrap { display:none;position:absolute;top:25px;right:0; padding:10px; background:#fff;z-index:1000; border:1px solid #999; }
.my-menu { border-top:2px solid #4693cb; background:#fff; /*box-shadow:5px 5px 3px #999;*/ }
.my-menu thead th { height: 25px !important; font-size:12px; font-weight:bold; border:1px solid #d8d8d8; border-collapse:collapse; text-align: center; vertical-align: middle; color: #333; background: #f7f7f7; }
.my-menu td { height:25px !important; font-size:12px; font-weight:normal; border:1px solid #d8d8d8; border-collapse:collapse; padding:0 15px; box-sizing:border-box; }


/* INDEX */
#NotDelivery .cs_p{cursor:pointer;}
#NotDelivery .font_b{font-weight:bold;}
#NotDelivery .font_n{font-weight:normal;}
#NotDelivery .bgd_0 {background:#ffffff;}
#NotDelivery .bgd_3 {background:#ffefef;}
#NotDelivery .bgd_4 {background:#ffdddd;}
#NotDelivery .bgd_5 {background:#ffcbcb;}
#NotDelivery .bgd_6 {background:#ffb9b9;}
#NotDelivery .bgd_7 {background:#ffa7a7;}
#NotDelivery tbody .ar:hover {background:#ebf7ff !important}
#NotDelivery tfoot .ar:hover {background:#ebf7ff !important}
div.gvChart {overflow-x: auto;overflow-y: hidden}


/* LOGIN */
.law-cont { margin-left:20px; }
.law-cont > li { list-style:square; margin-bottom:15px; text-align:left; line-height:20px; }
input.btn_auth {background: url(../images/btn_login04.png) no-repeat 0 0;width: 310px;height: 40px;border: 0px;cursor: pointer;}
div.admin_login_wrap .admin_login {position:fixed; top:50%; left:50%; margin-top:-220px; margin-left:-239px; width: 408px;height: 295px;padding: 64px 34px 79px; text-align: center;border: 1px solid #ccc;background: #fff;}
div.admin_login_wrap .admin_login h1.logo {background: url(../images/shoemarker_logo.jpg) no-repeat 0 0;width: 276px;height: 50px;text-indent: -9999px;padding-top: 5px;margin: 0 auto;}
div.admin_login_wrap .admin_login p {margin-top: 15px;font-size: 13px;color: #333;line-height: 20px;}
div.admin_login_wrap .admin_login .field {border-top: 0;width: 310px;margin: 0 auto;}
div.table_s02 table td {background-color: #FFF;border-bottom: 1px solid #dcdcdc;line-height: 13px;font-size: 11px;padding: 8px 10px;}
div.table_s02 table td.none {border-bottom: none;}
div.admin_login_wrap .admin_login .field td {border-bottom: 0;}
div.admin_login_wrap .admin_login .field td input.inp {font-size:12px;vertical-align: middle;border: 1px solid #cccccc;outline: none;height: 20px;color: #4c4c4c;padding-left: 5px;line-height: 20px;}
div.admin_login_wrap .admin_login .field td input.inp {height: 40px;line-height: 40px;background: #fff;box-sizing:border-box;}
div.admin_login_wrap .admin_login .field td input.inp:focus{ border:1px solid #848484; color:#848484}
div.admin_login_wrap .admin_login .field td .btn_login {width: 310px;}
input.btn_login {background: url(../images/btn_login03.png) no-repeat 0 0;width: 310px;height: 40px;border: 0px;cursor: pointer;}


/* TITLE */
.h2{margin-bottom:20px;font-size:18px;line-height:22px;color:#000;text-align:center;}
.h2_lnb{margin-bottom:20px; padding-top:10px; padding-bottom:10px; font-size:15px;line-height:22px;color:#000;text-align:center; background:#f1f1f1;}
.h3{padding-left:20px;margin-bottom:20px;font-size:14px;background:url(../images/bu_title.gif) no-repeat left center;}
.h4{padding-left:15px;margin-bottom:10px;font-size:14px;color:#333;background:url(../images/bu_title2.gif) no-repeat left center;}
.h5{padding-left:8px;font-size:12px;color:#333;background:url(../images/bu_title3.gif) no-repeat left center;}


/* BUTTON */
.btnTop{position:absolute;right:0px;top:0px;}
.btnTop2{position:absolute;left:0px;top:0px;}
.btnRight{margin-top:11px;text-align:right;}
.btnRight2{position:absolute;right:0px;top:0px;}
.btnRight3{position:absolute;right:0px;top:-27px;}
.btnLeft{left:0px;top:0px;}
.btnLeft2{position:absolute;left:0px;top:0px;}
.btnLeft3{position:absolute;left:0px;top:-27px;}
#btnCenter{width:100%;text-align:center;}
.btnA{border:none;background-color:initial;color:#0000ff;}

.btns{position:relative;min-height:20px;margin:10px 0 20px;}
.btn-a { display: inline-block; height: 20px; padding-left: 8px; vertical-align: middle; background: url(../images/bg_btn_a.gif) no-repeat left top; }
.btn-a span { display:block; height: 20px; padding-top: 3px; padding-right: 8px; font: bold 13px/16px Dotum; color: #fff !important; background: url(../images/bg_btn_a.gif) no-repeat right top; }

.btn-b {display:inline-block;height:27px;padding-left:18px;vertical-align:middle;background:url(../images/btn_bg.gif) no-repeat left top; text-decoration:none;}
.btn-b span {display:block;height:20px;font-size:11px;padding-top:3px;padding-right:10px;color:#616161 !important; background:url(../images/btn_bg.gif) no-repeat right top;}

.btn-c {display:inline-block;height:20px;line-height:20px;padding:0 10px 0; vertical-align:middle;border:1px solid #545454;border-radius:3px;text-align:center;box-sizing:border-box;background:#616161;color:#ffffff;font-size:12px;font-weight:normal;}
.btn-c span {display:block;height:18px;line-height:18px !important;font-size:12px;padding:0;color:#ffffff; background:#616161;font-family:ng;}
.btn-c:hover, .btn-c:hover span {background:#999999;}

.btn-d {display:inline-block;height:20px;line-height:20px;padding:0 10px 0; vertical-align:middle;border:1px solid #545454;border-radius:3px;text-align:center;box-sizing:border-box;background:#d8d8d8;color:#333;font-size:12px;font-weight:normal;}
.btn-d span {display:block;height:18px;line-height:18px !important;font-size:12px;padding:0;color:#333; background:#d8d8d8;font-family:ng;}
.btn-d:hover, .btn-d:hover span {background:#999999;color:#ffffff;}

.btn-red {display:inline-block;height:18px;line-height:18px;padding:0 10px 0; margin:2px 0; vertical-align:middle;border:0;border-radius:3px;text-align:center;box-sizing:border-box;background:#c01515;color:#ffffff;font-size:9pt;}
.btn-red span {display:block;height:18px;line-height:18px !important;font-size:8pt;padding:0;color:#ffffff; background:#c01515;font-family:ng;}
.btn-blue {display:inline-block;height:18px;line-height:18px;padding:0 10px 0; margin:2px 0; vertical-align:middle;border:0;border-radius:3px;text-align:center;box-sizing:border-box;background:#2e389b;color:#ffffff;font-size:9pt;}
.btn-blue span {display:block;height:18px;line-height:18px !important;font-size:8pt;padding:0;color:#ffffff; background:#2e389b;font-family:ng;}

.btn-dark {display:inline-block;height:18px;line-height:18px;padding:0 10px 0; margin:2px 0; vertical-align:middle;border:1px solid #545454;border-radius:3px;text-align:center;box-sizing:border-box;background:#616161;color:#ffffff;font-size:9pt;}
.btn-dark span {display:block;height:16px;line-height:16px !important;font-size:8pt;padding:0;color:#ffffff; background:#616161;font-family:ng;}
.btn-dark:hover, .btn-dark:hover span {background:#999999;}
.btn-gray {display:inline-block;height:18px;line-height:18px;padding:0 10px 0; margin:2px 0; vertical-align:middle;border:1px solid #545454;border-radius:3px;text-align:center;box-sizing:border-box;background:#d8d8d8;color:#ffffff;font-size:9pt;}
.btn-gray span {display:block;height:16px;line-height:16px !important;font-size:8pt;padding:0;color:#333; background:#d8d8d8;font-family:ng;}
.btn-gray:hover, .btn-gray:hover span {background:#999999;}

.btn-c-small {display:inline-block;height:14px;line-height:14px;padding:0 10px 0; margin:1px 0; vertical-align:middle;border:0;border-radius:3px;text-align:center;box-sizing:border-box;background:#616161;color:#ffffff;font-size:7pt;}
.btn-c-small span {display:block;height:14px;line-height:14px !important;font-size:7pt;padding:0;color:#ffffff; background:#616161;font-family:ng;}

.btn-red-small {display:inline-block;height:14px;line-height:14px;padding:0 10px 0; margin:1px 0; vertical-align:middle;border:0;border-radius:3px;text-align:center;box-sizing:border-box;background:#c01515;color:#ffffff;font-size:7pt;}
.btn-red-small span {display:block;height:14px;line-height:14px !important;font-size:7pt;padding:0;color:#ffffff; background:#c01515;font-family:ng;}
.btn-blue-small {display:inline-block;height:14px;line-height:14px;padding:0 10px 0; margin:1px 0; vertical-align:middle;border:0;border-radius:3px;text-align:center;box-sizing:border-box;background:#2e389b;color:#ffffff;font-size:7pt;}
.btn-blue-small span {display:block;height:14px;line-height:14px !important;font-size:7pt;padding:0;color:#ffffff; background:#2e389b;font-family:ng;}


/* input box style */
.input_text{height:22px;padding:0 10px;font-size:12px;line-height:20px;color:#505050;border:1px solid #d8d8d8;box-sizing:border-box;font-family:'DotumChe';letter-spacing:0.3px;}
.input_file{height:22px;padding:0;font-size:12px;line-height:20px;color:#505050;border:1px solid #d8d8d8;box-sizing:border-box;font-family:'DotumChe';letter-spacing:0.3px;}


/* pop up layer */
#dimmed {position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: #111; opacity: 0.5; -ms-filter: alpha(opacity=50); filter: alpha(opacity=50); z-index: 500; display:none; }
.popup {position: fixed; left:50%; -webkit-transform:none; transform:none; background-color: #ffffff; padding: 10px 20px; z-index:501; display:none;}
#popup {position: fixed;}
#loading {position:fixed;display:inline-block;top:50%;left:50%;width:250px;margin-top:0;margin-left:-126px;background:#ffffff;border:1px solid #000;z-index:1000;display:none;}
#loading img {margin:50px 50px 0 50px;}
#loading p{margin:20px 0 40px;text-align:center;font-weight:bold;}

/* 사이드 메뉴 */
.sidemenu { position: absolute; top: 59px; left: 0; z-index: 1; display: none; }
.sidemenu span { width: 10px; font-size: 8px; display: inline-block; word-break: break-all; line-height: 12px; padding: 5px 5px; border: 1px solid #545454; border-left: 0; background: #d8d8d8; border-top-right-radius: 10px; border-bottom-right-radius: 10px; cursor: pointer }


/* 브랜드 게시순서 리스트 */
.brand_disp_list{width:820px;height:700px;overflow-y:scroll;border-bottom:1px solid #4693cb;}

/* 입점몰입력 > 매장검색 */
.sch_storemsg{position:absolute;top:26px;left:20px;width:300px;border:1px solid royalblue; max-height:300px;overflow-y:scroll;display:none;z-index:100;box-sizing:border-box;}
.sch_storeclose{width:100%;height:22px;text-align:right;line-height:22px; padding-right:5px; background:#fff; border-collapse:collapse; box-sizing:border-box;}