<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content">
    <script type="text/javascript" th:src="@{/js/product/category.js(ver=${@commonUtil.getNow()})}"></script>
    <style type="text/css">
        tr.depth1 td { background-color:#e5e5e5; }
        .c_name { display:inline-block; width:90%; }
        tr.depth1 td span > a { font-weight:bold; }
        .c_del { color:#bababa !important; }
        .tb_data_1 tbody td {border-left: 1px solid #fff !important;}
        #CategoryList .btn-d { width:70px !important; }
        .my-menu-btn { display:inline-block;position:absolute;top:0;right:0; }
        .my-menu-wrap { display:none;position:absolute;top:25px;right:0; padding:10px; background:#fff;z-index:1000; border:1px solid #999; }
        .my-menu { border-top:2px solid #4693cb; background:#fff; /*box-shadow:5px 5px 3px #999;*/ }
        .my-menu thead th { height: 25px !important; font-size:12px; font-weight:bold; border:1px solid #d8d8d8; border-collapse:collapse; text-align: center; vertical-align: middle; color: #333; background: #f7f7f7; }
        .my-menu td { height:25px !important; font-size:12px; font-weight:normal; border:1px solid #d8d8d8; border-collapse:collapse; padding:0 15px; box-sizing:border-box; }
    </style>

    <div class="bottom_sky_line mb30">
        <table class="tab_table_nl">
            <colgroup>
                <col style="width:150px;" />
                <col style="width:1px;" />
                <col style="width:150px;" />
                <col style="width:1px;" />
                <col style="width:150px;" />
                <col style="width:auto;" />
            </colgroup>
            <tbody>
            <tr>
                <td class="on"><a href="/product/category/list">전체분류</a></td>
                <td></td>
                <td class="off"><a href="/product/category/list1">대분류</a></td>
                <td></td>
                <td class="off"><a href="/product/category/list2">소분류</a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tb_data_1">

        <div class="btnRight3">
            <select name="AddDepth" id="AddDepth">
                <option value="1">대분류</option>
                <option value="2">소분류</option>
            </select>
            <a href="javascript:lay_CategoryAddForm('0')" class="btn-c"><span>분류입력</span></a>
        </div>

        <table>
            <colgroup>
                <col style="width:auto;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
            </colgroup>
            <tbody id="CategoryList">
            <th:block th:each="list1 : ${category1List}">
                <tr class="depth1">
                    <td class="al pl5">
                    <span class="c_name">
                        <a th:if="${Permission.isWrite()}"
                           th:data-categorycode="${list1.getCategorycode1()}"
                           th:onclick="|lay_CategoryModifyForm('1', this.getAttribute('data-categorycode'), '')|" style="cursor: pointer;"><span th:class="${list1.getDisplayflag() == 'N' ? 'c_del' : ''}" th:text="'['+${list1.categorycode1}+'] '+ ${list1.categoryname1}"></span></a>
                        <span th:unless="${Permission.isWrite()}" th:class="${list1.getDisplayflag() == 'N' ? 'c_del' : ''}" th:text="'['+${list1.categorycode1}+'] '+ ${list1.categoryname1}"></span>
                    </span>
                    </td>
                    <td th:text="${list1.getProductsalecnt()} + ' / ' + ${list1.getProductcnt()}"></td>
                    <td><a th:if="${Permission.isWrite()}" th:data-categorycode="${list1.getCategorycode1()}" th:onclick="|mod_CategoryDisplayNum('1', 'up', this.getAttribute('data-categorycode'), '')|" class="btn-d" style="cursor: pointer;"><span>UP</span></a></td>
                    <td><a th:if="${Permission.isWrite()}" th:data-categorycode="${list1.getCategorycode1()}" th:onclick="|mod_CategoryDisplayNum('1', 'down', this.getAttribute('data-categorycode'), '')|" class="btn-d" style="cursor: pointer;"><span>DOWN</span></a></td>
                    <td><a th:if="${Permission.isWrite()}" th:data-categorycode="${list1.getCategorycode1()}" th:onclick="|lay_CategoryModifyForm('1', this.getAttribute('data-categorycode'), '')|" class="btn-d" style="cursor: pointer;"><span>수정</span></a></td>
                </tr>
                <tr class="depth2" th:each="list2 : ${category2List}" th:if="${list1.getCategorycode1() == list2.getCategorycode1()}">
                    <td class="al pl100">
                    <span class="c_name">
                        <a th:if="${Permission.isWrite()}" th:data-categorycode1="${list2.getCategorycode1()}" th:data-categorycode2="${list2.getCategorycode2()}" th:onclick="|lay_CategoryModifyForm('2', this.getAttribute('data-categorycode1'), this.getAttribute('data-categorycode2'))|" style="cursor: pointer;"><span th:class="${list2.getDisplayflag() == 'N' ? 'c_del' : ''}" th:text="'[' + ${list2.getCategorycode2()} + '] ' + ${list2.getCategoryname2()}"></span></a>
                        <span th:unless="${Permission.isWrite()}" th:class="${list2.getDisplayflag() == 'N' ? 'c_del' : ''}" th:text="'[' + ${list2.getCategorycode2()} + '] ' + ${list2.getCategoryname2()}"></span>
                    </span>
                    </td>
                    <td th:text="${list2.getProductsalecnt()} + ' / ' + ${list2.getProductcnt()}"></td>
                    <td><a th:if="${Permission.isWrite()}" th:data-categorycode1="${list2.getCategorycode1()}" th:data-categorycode2="${list2.getCategorycode2()}" th:onclick="|mod_CategoryDisplayNum('2', 'up', this.getAttribute('data-categorycode1'), this.getAttribute('data-categorycode2'))|" class="btn-d" style="cursor: pointer;"><span>UP</span></a></td>
                    <td><a th:if="${Permission.isWrite()}" th:data-categorycode1="${list2.getCategorycode1()}" th:data-categorycode2="${list2.getCategorycode2()}" th:onclick="|mod_CategoryDisplayNum('2', 'down', this.getAttribute('data-categorycode1'), this.getAttribute('data-categorycode2'))|" class="btn-d" style="cursor: pointer;"><span>DOWN</span></a></td>
                    <td><a th:if="${Permission.isWrite()}" th:data-categorycode1="${list2.getCategorycode1()}" th:data-categorycode2="${list2.getCategorycode2()}" th:onclick="|lay_CategoryModifyForm('2', this.getAttribute('data-categorycode1'), this.getAttribute('data-categorycode2'))|" class="btn-d" style="cursor: pointer;"><span>수정</span></a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <form name="FormCategory" id="FormCategory" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="Depth"			 />
        <input type="hidden" name="CategoryCode1"	 />
        <input type="hidden" name="CategoryName"	 />
        <input type="hidden" name="DisplayFlag"		 />
    </form>


</div>