<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout_popup}">
<div layout:fragment="content">
    <script type="text/javascript" th:src="@{/js/product/brand.js(ver=${@commonUtil.getNow()})}"></script>

    <h3 class="h3">
        <span>브랜드 게시 순서</span>
    </h3>

    <div class="tb_data_1">
        <table>
            <colgroup>
                <col style="width:  80px;" />
                <col style="width: 240px;" />
                <col style="width:  80px;" />
                <col style="width:  80px;" />
                <col style="width:  80px;" />
                <col style="width:  80px;" />
                <col style="width:  80px;" />
                <col style="width:  auto;" />
            </colgroup>
            <thead>
            <tr>
                <th>코드</th>
                <th>브랜드명</th>
                <th>사용</th>
                <th>순서</th>
                <th>맨위</th>
                <th>위</th>
                <th>아래</th>
                <th>맨아래</th>
            </tr>
            </thead>
        </table>
        <div id="BrandList" style="width:820px;height:700px;overflow-y:scroll;border-bottom:1px solid #4693cb;">
            <table>
                <colgroup>
                    <col style="width:  80px;" />
                    <col style="width: 240px;" />
                    <col style="width:  80px;" />
                    <col style="width:  80px;" />
                    <col style="width:  80px;" />
                    <col style="width:  80px;" />
                    <col style="width:  80px;" />
                    <col style="width:  auto;" />
                </colgroup>
                <tr th:each="brand : ${brandList}" th:style="${brand.getUseflag() == 'Y' ? 'background-color:#ffffff' : 'background-color:#f1f1f1'}">
                    <td th:text="${brand.getBrandcode()}"></td>
                    <td class="al pl10" th:text="${brand.getBrandname()}"></td>
                    <td th:text="${brand.getUseflag()}"></td>
                    <td th:text="${brand.getDisplaynum()}"></td>
                    <td><a th:if="${Permission.isWrite()}" href="javascript:void(0);" th:data-brandcode="${brand.getBrandcode()}" th:onclick="|mod_DisplayNum(this.getAttribute('data-brandcode'), 'first')|" style="font-weight:bold">↑</a></td>
                    <td><a th:if="${Permission.isWrite()}" href="javascript:void(0);" th:data-brandcode="${brand.getBrandcode()}" th:onclick="|mod_DisplayNum(this.getAttribute('data-brandcode'), 'up')|">△</a></td>
                    <td><a th:if="${Permission.isWrite()}" href="javascript:void(0);" th:data-brandcode="${brand.getBrandcode()}" th:onclick="|mod_DisplayNum(this.getAttribute('data-brandcode'), 'down')|">▽</a></td>
                    <td><a th:if="${Permission.isWrite()}" href="javascript:void(0);" th:data-brandcode="${brand.getBrandcode()}" th:onclick="|mod_DisplayNum(this.getAttribute('data-brandcode'), 'last')|" style="font-weight:bold">↓</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="posR mt20">
        <div class="ac">
            <a href="javascript:self.close()" class="btn-d"><span>닫기</span></a>
        </div>
    </div>

</div>
